<div class="about-header-wrap">
    <div class="container">
        <div class="about-us text-center">
            <h1><span>read</span> about us</h1>
        </div><!--about-us-->
    </div><!--container-->
</div><!--about-header-wrap-->
<div class="container about-translate">
    <div class="about-text-block text-center">
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                </p>
                <p>«It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.»</p>		
                <button class="btn btn-shop mt-lg-4 mt-xl-5">SHOP NOW</button>			
    </div><!--about-text-block-->
</div><!--container-->
<div class="container">
    <div class="process-wrap">
        <h1>Our Process</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="process-block text-center mt-0">
                    <div class="process-img-circle mx-auto">
                        <img src="../../../assets/images/process-1.png" alt="step-1">
                        <span class="step-number">01</span>
                    </div><!--process-img-circle-->
                    <h4>A User<br> Posts the product</h4>
                    <p>pay your proportional part of the item</p>
                </div><!--process block-->
            </div>
            <div class="col-lg-4">
                <div class="process-block text-center">
                    <div class="process-img-circle mx-auto">
                        <img src="../../../assets/images/process-2.png" alt="step-2">
                        <span class="step-number">02</span>
                    </div><!--process-img-circle-->
                    <h4>Interested users<br> join the purchase</h4>
                    <p>And they pay their proportional share</p>
                </div><!--process block-->
            </div>
            <div class="col-lg-4">
                <div class="process-block text-center">
                    <div class="process-img-circle mx-auto">
                        <img src="../../../assets/images/process-3.png" alt="step-3">
                        <span class="step-number">03</span>
                    </div><!--process-img-circle-->
                    <h4>ayment of the global<br> product completed</h4>
                    <p>Divide & conqures makes the purchase</p>
                </div><!--process block-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-2 mt-lg-5">
                <div class="process-block text-center">
                    <div class="process-img-circle mx-auto">
                        <img src="../../../assets/images/process-4.png" alt="step-4">
                        <span class="step-number">04</span>
                    </div><!--process-img-circle-->
                    <h4>The product arrives<br> at our warehouse.</h4>
                    <p>Divide & conqures makes the purchase</p>
                </div><!--process block-->
            </div>
            <div class="col-lg-4 mt-lg-5">
                <div class="process-block text-center">
                    <div class="process-img-circle mx-auto">
                        <img src="../../../assets/images/process-step-5.png" alt="step-5">
                        <span class="step-number">05</span>
                    </div><!--process-img-circle-->
                    <h4>Divide & Conqures distributes it<br> to users who have paid for it</h4>
                    <!-- <p>Divide & conqures makes the purchase</p> -->
                </div><!--process block-->
            </div>
        </div><!--row-->
    </div><!--process-wrap-->
</div><!--container-->
<div class="advantages-wrap">
    <div class="container">
        <div class="adv-block text-center">
            <h1 class="text-center">Advantages</h1>
            <div class="d-flex justify-content-center align-items-center mt-4 mb-5">
                <span class="switch-text active">user</span>
                <label class="switch mx-3 mb-0">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
                <span class="switch-text">COMPANY</span>
            </div>	
            <div class="row row-margin">
                <div class="col-lg-4 mb-3">
                    <div class="user-adv">
                        <img src="../../../assets/images/low-price.png" alt="low price">
                        <h4>Lower Prices</h4>
                    </div><!--user-adv-->
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="user-adv">
                        <img src="../../../assets/images/user-advantage-2.png" alt="low price">
                        <h4>Other Users to share your rates and shipping costs</h4>
                    </div><!--user-adv-->
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="user-adv">
                        <img src="../../../assets/images/user-adv02.png" alt="low price">
                        <h4>Create your own offers for the community</h4>
                    </div><!--user-adv-->
                </div>
            </div>
            <div class="row row-margin">
                <div class="col-lg-4 offset-lg-2 mt-lg-3">
                    <div class="user-adv">
                        <img src="../../../assets/images/user-adv04.png" alt="low price">
                        <h4>Save on shipping costs</h4>
                    </div><!--user-adv-->
                </div>
                <div class="col-lg-4 mt-3">
                    <div class="user-adv">
                        <img src="../../../assets/images/user-adv05.png" alt="low price">
                        <h4>Save on shipping costs</h4>
                    </div><!--user-adv-->
                </div>
            </div>

        </div><!--adv-block-->
    </div><!--container-->
</div><!--advantages-wrap-->