
<section class="category_listing_page banner_section" id="">

    <div class="container">
        <div class="custom_row">

            <div class="left_section p-0">
                <div class="side_category">
                    
                    <div class="filter_section">
                        <div class="filter_title">
                            <h3>Product Filter</h3>
                        </div>
                        <div class="filter_sub_section">
                            <h4>Price</h4>
                            <ul>

                                <li><a class="" href="">$1000 - $2500</a></li>
                                <li><a class="" href="">$1000 - $2500</a></li>
                                <li><a class="" href="">$1000 - $2500</a></li>
                                <li><a class="" href="">$1000 - $2500</a></li>
                                <li><a class="" href="">$1000 - $2500</a></li>
                            </ul>                            
                        </div>
                        <div class="filter_sub_section">
                            <h4>Price</h4>
                            <ul>
                                <li>
                                    <section class="example-section">
                                    <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                                    </section>
                                </li>
                                <li>
                                    <section class="example-section">
                                    <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                                    </section>
                                </li>
                                <li>
                                    <section class="example-section">
                                    <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                                    </section>
                                </li>
                                <li>
                                    <section class="example-section">
                                    <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                                    </section>
                                </li>
                                <li>
                                    <section class="example-section">
                                    <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                                    </section>
                                </li>
                            </ul>                            
                        </div>
                    </div>

                </div>
            </div>

            <div class="right_section">

                <div class="banner_category_sec">

                </div>

                  <!-- Listing Product -->
                  <section class="listing_product">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_title">
                                <h3>Product Section</h3>
                            </div>
                        </div>
                        <!-- product card start -->
                        <div class="col-md-3">
                            <div class="product-box">
                                <div class="img-wrapper">
                                    <div class="single_product_sec">
                                        <a href="javascript:void(0)" class="single_img">
                                            <img src="" class="img-fluid" alt="" >
                                        </a>
                                    </div>
                                    <div class="cart-info cart-wrap">
                                        <a href="javascript:void(0)" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                        <!-- <a href="javascript:void(0)" title="Add to Wishlist"><i class="far fa-heart"></i></a> -->
                                        <a href="javascript:void(0)" title="Quick View"><i class="fas fa-search"></i></a>
                                        <!-- <a href="javascript:void(0)" title="Compare"><i class="fas fa-sync-alt"></i></a> -->
                                    </div>
                                </div>
                                <div class="product-detail">
                                    <!-- <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div> -->
                                    <a>
                                        <!-- <h6> {{item.productName}}</h6> -->
                                    </a>
                                    <!-- <h4> ${{item.price}}</h4> -->
                                </div>
                            </div>
                        </div>
                         <!-- product card end -->
                    </div>

                </section>
            </div>
        </div>
    </div>

</section>
































