<section class="register-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div class="theme-card">
                    <div class="row">
                        <div class="col-md-12 infor_sec">
                            <div class="main_title">
                                <h3>Forget Password</h3>
                            </div>
                            <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()" class="theme-form">
                                <div class="form-row">
                                    <div class="col-md-12 input_sec">
                                        <mat-form-field>
                                            <input class="form-control" type="text" matInput placeholder="Email"
                                                formControlName="email">
                                            <mat-error *ngIf="forgetForm.get('email').hasError('required')"
                                                class="text-danger"> Email is required</mat-error>
                                            <mat-error
                                                *ngIf="!forgetForm.get('email').hasError('required') && forgetForm.get('email').hasError('email')"
                                                class="text-danger">Email format is not valid.</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-12 btn_sec_right">
                                        <button mat-raised-button class="btn btn_section btn--submit">Forgot
                                            Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>